[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pynacl = "*"
aiohttp = "*"
flask = {extras = ["async"], version = "*"}
quart = "*"

[dev-packages]
ipykernel = "*"
regex = "*"

[requires]
python_version = "3.9"
